*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
.Landing_Main{
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    /* justify-content: center; */
    flex-direction: column;
}