*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
.AdminDashboard_Main{
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.AdminDasboard_Main_Left{
    width: 25%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: grey;
}
.AdminDashboard_Main_Right{
    width: 75%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: aquamarine;
}